### ignore unnecessary files

# temporary MacOS files
.DS_Store

# temporary office files
~$*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/


# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# powerpoint files in the folder for the second and sixth day (Marie)
2-R-data-handling/*.pptx
6-modeling-frequencies/*.pptx